[Desktop Entry]
Type=Application
Name=Say Count
Comment=Edit Ren'Py scripts and count dialogue words
Exec=say-count %F
Icon=say-count
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/x-renpy;
StartupNotify=true
